* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo-header {
    background-color: black;
}

#logo-header img {
    height: 18px;
    margin: 10px;
}