* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
#logo-header {
    background-color: black;
}

#logo-header img {
    height: 18px;
    margin: 10px;
}

#button-nav {
    color: white;
    background-color: #363636;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
}

#lens-nav {
    height: 30px;
    margin: 10px;
    cursor: pointer;
}
/* /Header */

/* Jumbotron */
#jumbotron {
    position: relative;
    height: 670px;
    background-image: url(img/jumbo-bg.png);
}

#jumbotron section,
#takes-two section {
    width: 370px;
    position: absolute;
    bottom: 80px;
    left: 50px;
    color: white;
} 

#jumbotron img {
    height: 50px;
    margin-bottom: 30px;
}

#jumbotron button,
#takes-two button {
    border: none;
    border-radius: 20px;
    background-color: #cd3d10;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
}
/* /Jumbotron */

/* Main */
/* Blocchi */
.container-block {
    height: 160px;
    padding: 30px;
}

.block {
    height: 100%;
}

.block img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
/* /Blocchi */

#ecco-playstation5 {
    margin-top: 100px;
}

#ecco-playstation5 h6 {
    color: #0372ce;
}

#ecco-playstation5 div {
    color: #7d7d7d;
    font-size: 20px;
    margin-top: 20px;
}

#console-playstation5 {
    margin-top: 150px;
}

.text-ps5 {
    margin-top: 100px;
}

.text-ps5 div {
    font-size: 20px;
    color: #7d7d7d;
    margin-top: 30px;
}

.text-ps5 button {
    border: none;
    border-radius: 20px;
    background-color: #2c64e6;
    color: white;
    padding: 5px 10px;
    margin-top: 30px;
}

#console-playstation5 img {
    height: 700px;
}

.block-accessories {
    height: 200px;
    border: 1px solid black;
}

.block-accessories img {
    height: 100%;
    width: 100%;
}

#takes-two { 
    position: relative;
    height: 700px;
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

#takes-two img {
    height: 150px;
    margin-bottom: 30px;
}
/* /Main */